---
layout: base
---

<div class="display-flex col-middle aligner" style="height:100vh;">
  <div class="pui-panel-container">
    <div class="pui-panel bg-neutral-11 box-shadow-1 border-rounded paxxxl">
      <div class="pui-panel-body opt-inner-class txt-c" style="width: 550px;">
        
        <!-- FIXME: hack to fix alignment issue (logo was only half displayed) after adding additional workshops to landing page -->
        <p><br /><br /><br /></p>
        
        <p>
          <svg alt="ibm-logo" height="40">
            <use xlink:href="#ibm-logo"></use>
          </svg>
        </p>
        {{ content }}
        <br />
        <p>
          <div class="ok_row">

           <div class="ok_column">
             <div class="card">
              <div class="card_container">
                <h4><b>Simple Tutorial<br/>(Single Model)</b></h4>
                <br />
                <p>Create your own custom image classifier using a single model and deploy to an iOS application.</p>
                <a href="{{ site.simple[0].url | relative_url }}" class="pui-btn pui-btn-primary pui-btn-lg btn btn-primary btn-lg" aria-label="Start code pattern">
                  <span class="btn-inner-content pui-btn-inner-content">
                    <span>Start</span>
                  </span>
                </a>
                <br />
              </div>
            </div>
           </div>

           <div class="ok_column">
             <div class="card">
              <div class="card_container">
                <h4><b>Simple Tutorial<br/>(Multiple Models)</b></h4>
                <br />
                <p>Create your own custom image classifier using multiple models and deploy to an iOS application.</p>
                <a href="{{ site.multiple[0].url | relative_url }}" class="pui-btn pui-btn-primary pui-btn-lg btn btn-primary btn-lg" aria-label="Start code pattern">
                  <span class="btn-inner-content pui-btn-inner-content">
                    <span>Start</span>
                  </span>
                </a>
                <br />
              </div>
            </div>
           </div>

          </div>
        </p>
        <br />
        <p>
          <div class="ok_row">
            <div class="ok_column">
             <div class="card">
              <div class="card_container">
                <h4><b>Advanced Tutorial<br/>(Single Model)</b></h4>
                <br />
                <p>Introduction to Watson Swift SDK as well as building your own custom image classifier using a single model.</p>
                <a href="{{ site.advanced[0].url | relative_url }}" class="pui-btn pui-btn-primary pui-btn-lg btn btn-primary btn-lg" aria-label="Start code pattern">
                  <span class="btn-inner-content pui-btn-inner-content">
                    <span>Start</span>
                  </span>
                </a>
                <br />
              </div>
            </div>
           </div>

           <div class="ok_column">
             <div class="card">
              <div class="card_container">
                <h4><b>Advanced Tutorial (Multiple Models)</b></h4>
                <br />
                <p>Introduction to Watson Swift SDK as well as building your own custom image classifier with multiple models.</p>
                <a href="{{ site.arduino[0].url | relative_url }}" class="pui-btn pui-btn-primary pui-btn-lg btn btn-primary btn-lg" aria-label="Start code pattern">
                  <span class="btn-inner-content pui-btn-inner-content">
                    <span>Start</span>
                  </span>
                </a>
                <br />
              </div>
            </div>
           </div>
         </div>
        </p>
        <!-- <p>
          <a href="{{ site.simple[0].url | relative_url }}" class="pui-btn pui-btn-primary pui-btn-lg btn btn-primary btn-lg" aria-label="Start code pattern">
            <span class="btn-inner-content pui-btn-inner-content">
              <span>Start</span>
            </span>
          </a>
        </p> -->
      </div>
    </div>
  </div>
</div>
